
<nav class="nav1">
    <div class="nav1-Div">
        <ul class="nav1-RightSide">
            <li>
                <a href="https://localhost:44322"><span class="material-symbols-outlined">house</span> خانه </a>
            </li>
            <li>
                <a href="https://localhost:44322//Product/Products"><span class="material-symbols-outlined">widgets</span> محصولات</a>
            </li>
            <li>
                <a href="https://www.google.com"><span class="material-symbols-outlined">article</span> مقالات</a>
            </li>
            <li>
                <a href="https://www.google.com">درباره ما</a>
            </li>
            <li>
                <a href="https://www.google.com">تماس با ما</a>
            </li>
        </ul>

        <div class="nav1-WebsiteLogo">
            <img src="~/images/logo/Layer 9.png" usemap="#image-map-logo">
            <map name="image-map-logo">
                <area target="" alt="" title="" href="https:\\google.com"
                      coords="16,57,32,24,51,12,95,10,152,-1,158,6,177,42,180,82,46,78,28,73" shape="poly">
                <area target="" alt="" title="" href="https:\\google.com" coords="1,82,250,200" shape="rect">
            </map>
        </div>

        <ul class="nav1-LeftSide">
            @{
                if (ViewBag.Username == null)
                {
                    <li class="nav1-LeftSide-Signin" style="height:40px;">

                        <a href="https://localhost:44322/Home/Login">
                            <span class="material-symbols-outlined">person</span> ورود / ثبت
                            نام
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav1-LeftSide-Signin dropdown">
                        <button class="dropbtn">
                            <span style="font-size:17px; padding-bottom:5px;">@ViewBag.Name</span>
                            <span style="font-size:15px">( @ViewBag.Username )</span>
                        </button>
                        <div class="dropdown-content">
                            @if (User.IsInRole("Admin"))
                            {
                                <a href="https://localhost:44322/Admin/Admin/Panel">
                                    <span class="material-symbols-outlined">manage_accounts</span>  پنل مدیریت
                                </a>
                            }
                            <a href="https://localhost:44322/Customer/Customer/Panel">
                                <span class="material-symbols-outlined">account_box</span>  پنل کاربری
                            </a>
                            <a href="https://localhost:44322/Home/Logout?ReturnUrl=@HttpContext.Current.Request.Url.AbsoluteUri">
                                <span class="material-symbols-outlined">logout</span>  خروج
                            </a>
                        </div>
                    </li>

                }

            }



            @if (ViewBag.Username != null)
            {
                <li class="nav1-LeftSide-ShoppingCart">
                    <a href="https://localhost:44322/Customer/Customer/Cart/">
                        <span class="material-symbols-outlined">shopping_cart</span>
                    </a>
                    @if (ViewBag.CartCount > 0 && ViewBag.CartCount != null)
                    {
                        <p>@ViewBag.CartCount</p>
                    }
                </li>
            }


            <li>
                <form class="nav1-LeftSide-SearchBar" action="">
                    <input type="text" name="SearchValue" id="searchValue" placeholder="نام یا کد محصول ....">
                    <button type="submit">
                        <span class="material-symbols-outlined">search</span>
                    </button>
                </form>
            </li>

        </ul>
    </div>
</nav>



