@model IEnumerable<BaziMarket2.Models.Product>
<div class="newProducts">
    <a class="newProducts-title">جدید ترین محصولات</a>
    @if (Model != null)
    {
        if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <div class="product">
                    <a href="https://localhost:44322/Product/Product/@item.EncodeName()" class="product-Image">
                        <img src="~/images/product-image/@item.Image">
                    </a>
                    <div class="product-Title">
                        <a href="https://localhost:44322/Product/Product/@item.EncodeName()">@item.Name</a>
                    </div>
                    <div class="product-Price">
                        @if (item.Discount == null)
                        {
                            <p class="product-Price-New"><b>@item.Price.DevideMoneyNumber()</b>&ensp;تومان</p>
                        }
                        else
                        {
                            <p class="product-Price-Old"><ins>@item.Price.DevideMoneyNumber()</ins> تومان</p>
                            <p class="product-Price-New"><b>@item.GetPrice().DevideMoneyNumber()</b> تومان</p>
                        }
                    </div>
                </div>
            }
        }
    }
</div>


