
<div class="footer-circle">
</div>

<footer>
    <div class="footer-Column">
        <ul>
            <li>دسترسی سریع</li>
            <li><a href="https://www.google.com">کنسول بازی</a></li>
            <li><a href="https://www.google.com">بازی رومیزی </a></li>
            <li><a href="https://www.google.com">لپ تاپ گیمینگ</a></li>
            <li><a href="https://www.google.com">ثبت نام/ورود</a></li>
            <li><a href="https://www.google.com">تخیفات ویژه</a></li>
        </ul>
    </div>
    <div class="footer-Column">
        <ul>
            <li>خدمات مشتریان</li>
            <li><a href="https://www.google.com">راهنمای ثبت سفارش</a></li>
            <li><a href="https://www.google.com">روند ارسال سفارشات</a></li>
            <li><a href="https://www.google.com">سوالات متداول</a></li>
            <li><a href="https://www.google.com">قوانین و مقررات</a></li>
            <li><a href="https://www.google.com">روش های پرداخت</a></li>
        </ul>
    </div>
    <div class="footer-Column">
        <ul>
            <li>بازی مارکت</li>
            <li><a href="https://www.google.com">درباره با ما</a></li>
            <li><a href="https://www.google.com">تماس با ما</a></li>
            <li><a href="https://www.google.com">آدرس</a></li>
        </ul>
    </div>
    <div class="footer-Symbols">
        <ul>
            <li>نماد ها</li>
            <li class="footer-Symbols-symbol">
                <a href="https://www.google.com">
                    <img src="~/images/local/Enamad1.png"
                         alt="">
                </a>
            </li>
            <li class="footer-Symbols-symbol">
                <a href="https://www.google.com">
                    <img src="~/images/local/Untitled-1.png"
                         alt="">
                </a>
            </li>
            <li class="footer-Symbols-symbol">
                <a href="https://www.google.com">
                    <img src="~/images/local/zarinpall1.png"
                         alt="">
                </a>
            </li>
            <li class="footer-Symbols-symbol">
                <a href="https://www.google.com">
                    <img src="~/images/local/samankish.png"
                         alt="">
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-Copyright">
        <p class="footer-Copyright-Text">تمامی حقوق برای فروشگاه <a href="https://localhost:44322/">بازی مارکت</a> محفوظ است.</p>
        <div class="footer-Copyright-icons">
            <a href="https://www.google.com"><img class="socialIcon" src="~/images/local/mail.png"></img></a>
            <a href="https://www.google.com">
                <img class="socialIcon"
                     src="~/images/local/telegram.png"></img>
            </a>
            <a href="https://www.google.com">
                <img class="socialIcon"
                     src="~/images/local/linkedin.png"></img>
            </a>
            <a href="https://www.google.com">
                <img class="socialIcon"
                     src="~/images/local/instagram.png"></img>
            </a>
            <a href="https://www.google.com">
                <img class="socialIcon"
                     src="~/images/local/whatsapp.png"></img>
            </a>
        </div>
    </div>
</footer>

