@model Int32
@{
    ViewBag.Title = "ChangePassword";
}


@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}




<main class="UserPanel">

    <ul class="sideBar">
        <li>
            <a href="https://localhost:44322/User/UserPanel?UserId=@ViewBag.UserId">
                <span class="material-symbols-outlined">account_box</span>  مشخصات
            </a>
        </li>
        <li>
            <a href="" style="background-color: #e8293f; color: white;">
                <span class="material-symbols-outlined">vpn_key_alert</span>  رمز عبور
            </a>
        </li>
        <li>
            <a href="">
                <span class="material-symbols-outlined">order_approve</span>  سفارش ها
            </a>
        </li>
        <li>
            <a href="">
                <span class="material-symbols-outlined">notifications</span>  اطلاعیه ها و اخبار
            </a>
        </li>
        <li>
            <a href="https://localhost:44322/User/Wishlist?UserId=@ViewBag.UserId">
                <span class="material-symbols-outlined">bookmark</span>  لیست ها
            </a>
        </li>
    </ul>


    <div style="border-radius: 10px; width: 900px; height: 500px">
        <!-- Account details card-->
        <div class="card">
            <div class="card-header">تغییر رمز عبور</div>
            <div class="card-body">
                <form action="ChangePassword" enctype="application/x-www-form-urlencoded" method="post">
                    <input name="UserId" id="UserId" value=@Model hidden />
                    <!-- Form Group (username)-->
                    <div class="mb-5">
                        <label class="small mb-1 card-lable" for="UserPassword">رمز عبور فعلی</label>
                        <input class="form-control" id="UserPassword" name="UserPassword" type="text" autocomplete="off" required>
                        @if (ViewBag.Incorrect != null)
                        {
                            <span class="field-validation-valid text-danger validation-error" data-valmsg-for="UserPassword" data-valmsg-replace="true">رمز عبور اشتباه است !</span>
                        }
                    </div>
                    <!-- Form Row-->
                    <div class="row gx-5 mb-5">
                        <!-- Form Group (first name)-->
                        <div class="col-md-6">
                            <label class="small mb-1 card-lable" for="NewPassword">رمز عبور جدید</label>
                            <input class="form-control" id="NewPassword" name="NewPassword" type="password" required>
                            @if (ViewBag.NotMatch != null)
                            {
                                <span class="field-validation-valid text-danger validation-error" data-valmsg-for="NewPassword" data-valmsg-replace="true">رمز عبور و تکرار آن مطابقت ندارند </span>
                            }
                            @if (ViewBag.PassLen != null)
                            {
                                <span class="field-validation-valid text-danger validation-error" data-valmsg-for="NewPassword" data-valmsg-replace="true">رمز عبور باید حداقل 8 و حداکثر 20 کاراکتر باشد !</span>
                            }
                        </div>
                        <!-- Form Group (last name)-->
                        <div class="col-md-6">
                            <label class="small mb-1 card-lable" for="NewPasswordRepeat">تکرار رمز عبور جدید</label>
                            <input class="form-control" id="NewPasswordRepeat" type="password" name="NewPasswordRepeat" required>
                            @if (ViewBag.NotMatch != null)
                            {
                                <span class="field-validation-valid text-danger validation-error" data-valmsg-for="NewPasswordRepeat" data-valmsg-replace="true">رمز عبور و تکرار آن مطابقت ندارند !</span>
                            }
                        </div>
                    </div>


                    <!-- Save changes button-->
                    <input class="btn btn-primary" type="submit" value="ثبت تغییرات">
                </form>
            </div>
        </div>
    </div>
</main>





<script src="~/Scripts/jquery-3.6.4.min.js"></script>
<script src="~/Scripts/jquery-3.6.4.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
